html, body {
				height: 100%;
			}

			body {
				background-color: rgba(0, 0, 0, 0.8);
				margin: 0;
				font-family: Helvetica, sans-serif;;
				overflow: hidden;
/*				background: radial-gradient(circle at 50% 75%, #3F4041, #1F1F1F); */
				background: radial-gradient(circle at 50% 50%, rgba(207,208,215,0.8), rgba(0, 0, 0, 0.8));
			}

			a {
				color: rgba(131,113,106,1);
			}

			#info {
				position: absolute;
				width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family: Monospace;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				z-index: 1;
			}

			#menu {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
			}

			.card {
				width: 500px;
/* 				height: 400px; */
				box-shadow: 0px 0px 12px rgba(250,250,250,0.125);
				border-radius: 2%;
				border: 3px solid rgba(163, 161, 166, 1);
				text-align: justify;
				cursor: default;
				display:table;
				font-size: 30px;
				background-color: rgba(255, 255, 255, 1);
				color: rgba(131,113,106,1);
				text-shadow: 0 0 10px rgba(160,108,78,0.2);
			}

			.card:hover {
				box-shadow: 0px 0px 12px rgba(207,208,215,0.75);
/*			 	border: 3px solid rgba(163, 161, 166, 1); */
			}

			.card .content {
				height: 70%;
				font-size: 30px;
				font-weight: bold;
				padding: 5%;
				display: table;
				width: 90%;
			}

			.card .options {
				display: table;
				width: 100%;
			}

			.options > div {
				padding: 5%;
				display:table-row;
				width: 100%;
			}

			.options > div > div{
				width: 50%;
				border-top: 3px solid rgba(163, 161, 166, 1);
				vertical-align: middle;
				text-align: center;
				display: table-cell;
				padding: 4%;
				font-weight: bold;
			}

			.options > div > div > span {
				/*padding: 5%;*/
			}

			.options > div > div:nth-child(2) {}

			.options > div > div:nth-child(1) {
/*				border-right: 1px solid rgba(255, 255, 255, 0.25);*/
			}

			.options > div > div:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			button {
				color: rgba(127,255,255,0.75);
				background: transparent;
				outline: 1px solid rgba(127,255,255,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
			}
			button:hover {
				background-color: rgba(0,255,255,0.5);
			}
			button:active {
				color: #000000;
				background-color: rgba(0,255,255,0.75);
			}
