			*{
				-webkit-font-smoothing: subpixel-antialiased;
			}

			html, body {
				height: 100%;
			}

			body {
				background-color: rgba(0, 0, 0, 0.8);
				margin: 0;
				font-family: Helvetica, sans-serif;;
				overflow: hidden;
/*				background: radial-gradient(circle at 50% 75%, #3F4041, #1F1F1F); */
				background: url(../images/alpha-bg-2x2.svg), radial-gradient(ellipse at 50% 50%, rgba(207,208,215,0.02) 1%, rgba(0, 0, 0, 0.6) 90%);
			
				/* background-blend-mode: multiply; */
			}

			#container, .container{
				width:100%;
				height: 105%;
			}

			a {
				color: rgba(131,113,106,1);
			}

			#info {
				position: absolute;
				width: 100%;
				color: #ffffff;
				padding: 5px;
				font-family: Monospace;
				font-size: 13px;
				font-weight: bold;
				text-align: center;
				z-index: 1;
			}

			#menu {
				position: absolute;
				bottom: 20px;
				width: 100%;
				text-align: center;
			}

			.arrow, .arrow-reverse {
				cursor: default;
				position: absolute;
				display:table;
				line-height: 11px;
				font-size: 9px;
				background-color: rgba(255, 255, 255, 0.2);
				color: #222;
			
				overflow: hidden;
			}

			.arrow > div:nth-child(1){
				position:absolute;
				border-bottom: 3px solid #000;
				border-right: 3px solid #000;
				bottom: 0px;
				left: 0px;
				width: 70%;
				height: 60%;
				border-bottom-right-radius: 6px;
			}

			.arrow > div:nth-child(2){
				position:absolute;
				border-top: 3px solid #000;
				border-left: 3px solid #000;
				top:0;
				/* bottom: 0px; */
				right: -3px;
				width: 30%;
				height: 60%;
				border-top-left-radius: 6px;
			}

			.arrow-reverse{
				display:table;
			}

			.arrow-reverse > div:nth-child(1){
				position:absolute;
				border-top: 3px solid #000;
				border-right: 3px solid #000;
				top: 0px;
				left: 0px;
				width: 30%;
				height: 50%;
				border-top-right-radius: 6px;
			}

			.arrow-reverse > div:nth-child(2){
				position:absolute;
				border-bottom: 3px solid #000;
				border-left: 3px solid #000;
				bottom: 0;
				right: -3px;
				width: 70%;
				height: 60%;
				border-bottom-left-radius: 6px;
			}

			.card {
				width: 180px;
/* 				height: 400px; */
				box-shadow: 0px 0px 12px rgba(250,250,250,0.125);
				border-radius: 6px 3px 3px 6px;
				border: 1px solid rgba(0, 0, 0, 0.6); /*rgba(163, 161, 166, 1)*/
				text-align: justify;
				cursor: default;
				display:table;
				line-height: 11px;
				font-size: 9px;
				font-weight: bold;
				background-color: rgba(255, 255, 255, 1);
				color: #222; 
/* 				rgba(131,113,106,1); */
				text-shadow: 0 0 10px rgba(160,108,78,0.2);
			}

			.card:hover {
				box-shadow: 0px 0px 12px rgba(207,208,215,0.75);
/*			 	border: 3px solid rgba(163, 161, 166, 1); */
			}

			.card .content {
				height: 70%;
				/* font-size: 14px; */
				font-weight: bold;
				padding: 4%;
				display: table;
				width: 90%;
			}

			.card .options {
				display: table;
				width: 100%;
			}

			.options > div {
				padding: 3%;
				display:table-row;
				width: 100%;
			}

			.options > div > div{
				/* width: 50%; */
				border-top: 1px solid rgba(0, 0, 0, 0.4);
				vertical-align: middle;
				text-align: center;
				display: table-cell;
				padding: 4%;
				font-weight: bold;
			}

			.options > div > div > span {
				/*padding: 5%;*/
			}

			.options > div > div:nth-child(2) {}

			.options > div > div:nth-child(1) {
/*				border-right: 1px solid rgba(255, 255, 255, 0.25);*/
			}

			.options > div > div:hover {
				background-color: rgba(255, 255, 255, 0.25);
			}

			button {
				color: rgba(127,255,255,0.75);
				background: transparent;
				outline: 1px solid rgba(127,255,255,0.75);
				border: 0px;
				padding: 5px 10px;
				cursor: pointer;
			}
			button:hover {
				background-color: rgba(0,255,255,0.5);
			}
			button:active {
				color: #000000;
				background-color: rgba(0,255,255,0.75);
			}
